AddDefaultCharset UTF-8

<IfModule mod_mime.c>
  AddCharset UTF-8 .html .css .js .json .xml .txt
  AddType "text/html; charset=UTF-8" .html
  AddType "text/css; charset=UTF-8" .css
  AddType "application/javascript; charset=UTF-8" .js
  AddType "application/xml; charset=UTF-8" .xml
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(html|css|js|json|xml|txt)$">
    Header set X-Content-Type-Options "nosniff"
  </FilesMatch>
</IfModule>
